<!-- Besuchen Sie uns -->

<section class="background-wood" id="besuch">

    <div class="row">
        <div class="container-fluid col-lg-8">
            <h2>Besuchen Sie uns</h2>

            <div>
                <div class="card card-small">
                    <div class="card-header">
                        <h4 class="margin-bottom-0px"><span><i class="fas fa-map-marker-alt"></i>
                            </span> <span>Adresse</span></h4>
                    </div>
                    <div class="card-body"><a href="https://goo.gl/maps/4USBgWDAr5iKszge8" target="_blank">
                            <p class="font-gold">China Restaurant Lee's Garden<br>
                                Mühltorstraße 21<br>
                                63654 Büdingen
                            </p>
                        </a>
                    </div>
                </div>
            </div>

            <div>
                <div class="card card-small">
                    <div class="card-header">
                        <h4 class="margin-bottom-0px"><span><i class="fas fa-clock"></i>
                            </span> <span>Öffnungszeiten</span></h4>
                    </div>
                    <div class="card-body">
                        <table class="table-width table-hrs">
                            <tr>
                                <td rowspan="2">Täglich montags - sonntags:</td>
                                <td>11:30 – 15:00 Uhr </td>
                            </tr>
                            <tr>
                                <td>17:30 – 23:00 Uhr</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div>
                <div class="card card-small">
                    <div class="card-header">
                        <h4 class="margin-bottom-0px"><span><i class="fas fa-phone-alt"></i>
                            </span> <span>Kontakt</span></h4>
                    </div>
                    <div class="card-body">
                        <p class="font-gold"><a href="tel:060426556"><span><i
                                        class="fas fa-phone-alt "></i></span><span>06042/6556</span></a></p>
                        <p class="font-gold"><a href="mailto:kontakt@lees-garden.de"><span><i
                                        class="fas fa-envelope"></i></span><span>kontakt@lees-garden.de</span></a></p>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-lg-4">
            <iframe class="resp-iframe"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5047.021775880163!2d9.110412964858508!3d50.289632178172255!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb70770085564fcad!2sChinarestaurant%20Lee&#39;s%20Garden!5e0!3m2!1sde!2sde!4v1608598024482!5m2!1sde!2sde"
                width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
</section>

<!-- Footer -->

<footer class="container-fluid" id="footer">
    <div class="row">
        <div class="col-6 text-left">
            <img class="logo-margin" src="images/Lees Garden_weiss_resized.svg" alt="Logo" width="150">
        </div>

        <div class="col-6 text-right">
            <button class="btn btn-circle-custom"><a href="https://goo.gl/maps/iuhHzyZZ13qAgQpN8" target="_blank"><i
                        class="fab social fa-google"></i></a></button>
            <button class="btn btn-circle-custom"><a
                    href="https://www.facebook.com/China-Restaurant-Lees-Garden-127788940628508/" target="_blank"><i
                        class="fab social fa-facebook-f"></i></a></button>
        </div>
    </div>
    <div class="text-center">
        <p><span class="font-gold"><a href="/impressum">Impressum</a></span><span>|</span><span class="font-gold"><a
                    href="/datenschutz">Datenschutz</a></span> <br>
            © <%= year %> China Restaurant Lee's Garden
        </p>
    </div>


    </div>
</footer>


<script src="index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

</body>

</html>