<%- include ("header") -%>

    <!-- Title -->
    <section class="background position-relative" id="rice">
        <div class="container-fluid">
            <div class="position-absolute centered text-center">
                <h1>Speisekarte</h1>
                <h5 class="margin-bottom-16px">Sie möchten Leckeres zum Mitnehmen <br>
                    bestellen oder am Platz bedient werden?</h5>
                <button class="btn btn-custom"><a href="tel:060426556">Jetzt Anrufen</a></button>
            </div>
            <div class="position-absolute centered-bottom">
                <a href="#speisekarte-vorspeise"><img class="chevron-circle-down" src="images/chevron-circle-down.png"
                        onmouseover="hover(this);" onmouseout="unhover(this)" alt="scroll down">
                </a>
            </div>

        </div>

    </section>

    <!-- Navbar Horizontal -->

    <div class="sticky-top sticky-offset bg-light">
        <div class="menu-wrapper">
            <ul class="menu">
                <a href="#mittagsmenü">
                    <li class="item">
                        Mittagsmenü
                    </li>
                </a>
                <a href="#suppen">
                    <li class="item">
                        Suppen
                    </li>
                </a>
                <a href="#vorspeisen">
                    <li class="item">
                        Vorspeisen
                    </li>
                </a>
                <a href="#salate">
                    <li class="item active">
                        Salate
                    </li>
                </a>
                <a href="#beilagen">
                    <li class="item">
                        Beilagen
                    </li>
                </a>
                <a href="#huhn">
                    <li class="item">
                        ´Huhn
                    </li>
                </a>
                <a href="#knusprigeEnte">
                    <li class="item">
                        Knusprige Ente
                    </li>
                </a>
                <a href="#meeresfrüchte">
                    <li class="item">
                        Meerefrüchte
                    </li>
                </a>
                <a href="#vegetarisch">
                    <li class="item active">
                        Vegetarisch
                    </li>
                </a>
                <a href="#schwein">
                    <li class="item">
                        Schwein
                    </li>
                </a>
                <a href="#rind">
                    <li class="item">
                        Rind
                    </li>
                </a>
                <a href="#gebratenerReis">
                    <li class="item">
                        Gebratener Reis
                    </li>
                </a>
                <a href="#gebrateneNudeln">
                    <li class="item">
                        Gebratene Nudeln
                    </li>
                </a>
                <a href="#kombinationsGerichte">
                    <li class="item">
                        Kombinations-Gerichte
                    </li>
                </a>
                <a href="#thailändischeSpezialitäten">
                    <li class="item active">
                        Thailändische Spezialitäten
                    </li>
                </a>
                <a href="#saChaChiang">
                    <li class="item">
                        Sa-Cha-Chiang
                    </li>
                </a>
                <a href="#spezialPartnerplatten">
                    <li class="item">
                        Spezial-Partnerplatten
                    </li>
                </a>
                <a href="#nachtisch">
                    <li class="item">
                        Nachtisch
                    </li>
                </a>
            </ul>

            <div class="paddles">
                <button class="left-paddle paddle hidden">
                    <i class="fas fa-chevron-left"></i></button>
                <button class="right-paddle paddle">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
    </div>

    <!-- 
        <div class="print" id="print-wrapper-size"><span></span> Wrapper / visible menu size</div>
    <div class="print" id="print-menu-size"><span></span> Total menu size</div>
    <div class="print" id="print-menu-invisible-size"><span></span> Invisible menu size</div>
    <div class="print" id="print-menu-position"><span></span> Scroll position</div> 
-->

    <!-- Speisekarte -->

    <section class="background-wood" id="speisekarte-vorspeise">

        <div class="row">
            <div class="col-lg-6 container-fluid">
                <div class="text-center">
                    <h2 class="jumptarget" id="mittagsmenü">Mittagsmenü</h2>
                    <p>Montag-Samstag von 11:30 – 15:00 Uhr (außer an Feiertagen)<br>
                        Alle Speisen mit Pekingsuppe oder Frühlingsrolle
                    </p>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>M1. Gebratener Reis mit Hühnerfleisch und Ei</td>
                        <td>5,60€</td>
                    </tr>
                    <tr>
                        <td>M2. Gebratene Nudeln mit Rindfleisch und Gemüse</td>
                        <td>5,60€</td>
                    </tr>
                    <tr>
                        <td>M3. Gebratene Reisnudeln mit Schinken, Hühnerfleisch und Gemüse</td>
                        <td>6,10€</td>
                    </tr>
                    <tr>
                        <td>M4. Hühnerfleisch leicht paniert mit Gemüse und süß-saurer Soße</td>
                        <td>6,60€</td>
                    </tr>
                    <tr>
                        <td>M5. Hühnerfleisch mit Curry und Gemüse</td>
                        <td>6,10€</td>
                    </tr>
                    <tr>
                        <td>M6. Hühnerfleisch mit Gemüse und rotem Curry (scharf, nach Thai-Art)
                        </td>
                        <td>6,60€</td>
                    </tr>
                    <tr>
                        <td>M7. Hühnerfleisch mit grünen Bohnen, Champignons und Bambus</td>
                        <td>6,60€</td>
                    </tr>
                    <tr>
                        <td>M8. Hühnerfleisch mit Erdnusssoße und Gemüse</td>
                        <td>6,60€</td>
                    </tr>
                    <tr>
                        <td>M9. Hühnerfleisch mit Zwiebellauch und Ingwer</td>
                        <td>6,30€</td>
                    </tr>
                    <tr>
                        <td>M10. Paniertes Schweinefleisch mit Gemüse und süß-saurer Soße</td>
                        <td>6,10€</td>
                    </tr>
                    <tr>
                        <td>M11. Dreierlei Fleischsorten: Schweine-, Rind- und Hühnerfleisch mit
                            Gemüse</td>
                        <td>6,10€</td>
                    </tr>
                    <tr>
                        <td>M12. „Acht Kostbarkeiten“: Hühner-, Schweinefleisch, Ente, Krabben,
                            Gemüse, scharf</td>
                        <td>6,60€</td>
                    </tr>
                    <tr>
                        <td>M13. Gebackenes Rotbarschfilet mit süß-saurer Soße</td>
                        <td>6,60€</td>
                    </tr>
                    <tr>
                        <td>M14. Rindfleisch mit verschiedenem Gemüse</td>
                        <td>6,30€</td>
                    </tr>
                    <tr>
                        <td>M15. Rindfleisch mit Zwiebeln</td>
                        <td>6,60€</td>
                    </tr>
                    <tr>
                        <td>M16. Rindfleisch „Koon-Po“-Art mit Gemüse und Cashewnüssen, scharf
                        </td>
                        <td>6,60€</td>
                    </tr>
                    <tr>
                        <td>M17. Knusprige Ente mit Gemüse</td>
                        <td>9,10€</td>
                    </tr>
                    <tr>
                        <td>M18. Knusprige Ente mit Ananas und süß-saurer Soße</td>
                        <td>9,10€</td>
                    </tr>
                </table>

                <div class="text-center">
                    <h2 class="jumptarget" class="anchor" id="suppen">Suppen</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>1. Pekingsuppe (sauer-scharf)</td>
                        <td>2,50€</td>
                    </tr>
                    <tr>
                        <td>2. Wantan-Suppe (Teigtasche mit Schweinefleischfüllung)</td>
                        <td>2,80€</td>
                    </tr>
                    <tr>
                        <td>3. Fleischklößchensuppe mit Glasnudeln und Champignons</td>
                        <td>2,60€</td>
                    </tr>
                    <tr>
                        <td>4. Eierblumensuppe mit Hühnerfleisch</td>
                        <td>2,50€</td>
                    </tr>
                    <tr>
                        <td>6. Tomatensuppe mit Hühnerfleisch und Champignons</td>
                        <td>2,50€</td>
                    </tr>
                    <tr>
                        <td>7. Hühnerfleischsuppe mit verschiedenem Gemüse</td>
                        <td>2,60€</td>
                    </tr>
                    <tr>
                        <td>8. Exotische Hühnerfleischsuppe mit Champignons und Kokosmilch
                            (pikant)</td>
                        <td>3,10€</td>
                    </tr>
                    <tr>
                        <td>9. Exotische Meeresfrüchtesuppe mit Champignons und Kokosmilch
                            (pikant)</td>
                        <td>4,10€</td>
                    </tr>
                    <tr>
                        <td>10. Hühnerfleischsuppe nach Thai-Art mit Champignons (sauer-scharf)
                        </td>
                        <td>3,10€</td>
                    </tr>
                    <tr>
                        <td>11. Meeresfrüchtesuppe nach Thai-Art mit Champignons (sauer-scharf)
                        </td>
                        <td>4,10€</td>
                    </tr>
                </table>

            </div>

            <div class="col-lg-6 container-fluid">

                <div class="text-center">
                    <h2 class="jumptarget" id="vorspeisen">Vorspeisen</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>13. Mini-Frühlingsrollen</td>
                        <td>2,60€</td>
                    </tr>
                    <tr>
                        <td>14. Frühlingsrolle</td>
                        <td>2,50€</td>
                    </tr>
                    <tr>
                        <td>15. Spezial-Frühlingsrolle mit Vorderschinken und Krabben</td>
                        <td>2,80€</td>
                    </tr>
                    <tr>
                        <td>16. Krabbenchips (Kroepok)</td>
                        <td>2,10€</td>
                    </tr>
                    <tr>
                        <td>17. Gebackener Tintenfisch (Calamaris) mit süß-saurer Soße</td>
                        <td>4,10€</td>
                    </tr>
                    <tr>
                        <td>18. Gebackene Wan-Tan (Teigtaschen mit Scheinefleisch) mit
                            süß-saurer Soße</td>
                        <td>3,60€</td>
                    </tr>
                    <tr>
                        <td>19. Gebackene Garnelen mit süß-saurer Soße</td>
                        <td>6,20€</td>
                    </tr>
                    <tr>
                        <td>20. Gehackte Krabben nach Thai-Art, serviert in Beutelchen aus
                            Reisteig</td>
                        <td>3,60€</td>
                    </tr>
                    <tr>
                        <td>21. Hühnerfleisch-Satee am Spieß mit Erdnusssoße</td>
                        <td>4,60€</td>
                    </tr>
                    <tr>
                        <td>22. Garnelen am Spieß mit Erdnusssoße</td>
                        <td>6,20€</td>
                    </tr>
                </table>

                <div class="text-center">
                    <h2 class="jumptarget" id="salate">Salate</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>23. Tintenfischsalat mit Gurken, Tomaten und Zwiebeln (scharf)</td>
                        <td>4,60€</td>
                    </tr>
                    <tr>
                        <td>24. Sojasprossensalat</td>
                        <td>2,30€</td>
                    </tr>
                    <tr>
                        <td>25. Gemischter Salat</td>
                        <td>2,80€</td>
                    </tr>
                    <tr>
                        <td>26. Hühnerfleischsalat mit Gurken, Tomaten und Zwiebeln</td>
                        <td>3,80€</td>
                    </tr>
                    <tr>
                        <td>27. Glasnudelsalat mit verschiedenem Gemüse (scharf)</td>
                        <td>3,10€</td>
                    </tr>
                    <tr>
                        <td>28. Krabbensalat mit Gurken, Tomaten und Zwiebeln</td>
                        <td>5,60€</td>
                    </tr>
                </table>

                <div class="text-center">
                    <h2 class="jumptarget" id="beilagen">Beilagen</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>110. Pommes Frites</td>
                        <td>1,90€</td>
                    </tr>
                    <tr>
                        <td>111. Gebratene Nudeln mit Gemüse
                        </td>
                        <td>2,10€</td>
                    </tr>
                    <tr>
                        <td>112. Gebratener Reis mit Ei</td>
                        <td>2,10€</td>
                    </tr>
                    <tr>
                        <td>113. Gebratene Reisnudeln</td>
                        <td>2,60€</td>
                    </tr>
                    <tr>
                        <td>114. Glasnudeln mit Gemüse</td>
                        <td>2,60€</td>
                    </tr>
                </table>

            </div>

        </div>

    </section>

    <section class="background-wood" id="buffet-preise">

        <div class="row">
            <div class="col-lg-6 order-lg-1 padding-lr-0">
                <img class="img-buffet" src="images/rice1-webp.webp" alt="Gebratener Reis">
            </div>

            <div class="col-lg-6 order-lg-2 padding-lr-0">
                <img class="img-buffet" src="images/spring-rolls2-webp.webp" alt="Frühlingsrollen">
            </div>
        </div>


    </section>



    <section class="background-wood" id="speisekarte-hauptgang">
        <div class="row">
            <div class="col-lg-6 container-fluid">
                <div class="text-center">
                    <h2 class="jumptarget" id="huhn">Huhn</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>29. Leicht Paniertes Hühnerbrustfilet mit Gemüse und süß-saurer Soße</td>
                        <td>9,50€</td>
                    </tr>
                    <tr>
                        <td>30. Hühnerbrustfilet (Chop-Suey) mit verschiedenem Gemüse</td>
                        <td>9,00€</td>
                    </tr>
                    <tr>
                        <td>31. Hühnerbrustfilet mit Gemüse und Currysoße</td>
                        <td>9,30€</td>
                    </tr>
                    <tr>
                        <td>32. Gebackenes Hühnerbrustfilet, paniert mit süß-saurer Soße</td>
                        <td>9,10€</td>
                    </tr>
                    <tr>
                        <td>33. Hühnerbrustfilet mit chinesichen Tonko-Pilzen und Bambus</td>
                        <td>9,30€</td>
                    </tr>
                    <tr>
                        <td>34. Hühnerbrustfilet mit Champignons, Bambus, grünen Bohnen und
                            Cashew-Nüssen</td>
                        <td>9,30€</td>
                    </tr>
                    <tr>
                        <td>35. Hühnerbrustfilet mit Zwiebellauch und Ingwer</td>
                        <td>9,30€</td>
                    </tr>
                    <tr>
                        <td>36. Hühnerbrustfilet mit Gemüse nach Szechuan Art (scharf)</td>
                        <td>9,30€</td>
                    </tr>
                    <tr>
                        <td>37. Hühnerbrustfilet mit Gemüse und Knoblauchsoße</td>
                        <td>10,30€</td>
                    </tr>
                    <tr>
                        <td>38. Hühnerbrustfilet mit Gemüse nach Koon-Po Art im Vogelnest
                            (scharf)</td>
                        <td>10,30€</td>
                    </tr>
                    <tr>
                        <td>39. Hühnerbrustfilet mit Pfeffer-Soße auf heißer Platte</td>
                        <td>10,30€</td>
                    </tr>
                    <tr>
                        <td>40. Knuspriges Hähnchen mit Gemüse und pikanter Soße</td>
                        <td>9,60€</td>
                    </tr>
                    <tr>
                        <td>41. Paniertes Hühnerbrustfilet mit Erdnusssoße</td>
                        <td>9,30€</td>
                </table>


                <div class="text-center">
                    <h2 class="jumptarget" id="knusprigeEnte">Knusprige Ente</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>42. Knusprige Ente mit Ananas und süß-saurer Soße</td>
                        <td>12,50€</td>
                    </tr>
                    <tr>
                        <td>43. Knusprige Ente mit chinesischen Tonku-Pilzen und Bambussprossen
                        </td>
                        <td>12,50€</td>
                    </tr>
                    <tr>
                        <td>44. Knusprige Ente mit Mandeln, Champignons und Bambussprossen</td>
                        <td>12,50€</td>
                    </tr>
                    <tr>
                        <td>45. Knusprige Ente (Chop-Suey) mit verschiedenem Gemüse</td>
                        <td>12,50€</td>
                    </tr>
                    <tr>
                        <td>46. Knusprige Ente mit Gemüse nach Szechuan-Art (scharf)</td>
                        <td>12,50€</td>
                    </tr>
                    <tr>
                        <td>47. Knusprige Ente mit Gemüse und Knoblauchsoße</td>
                        <td>12,50€</td>
                    </tr>
                    <tr>
                        <td>48. Knusprige Ente mit Gemüse und Cashew-Kernen auf Koon-Po Art im
                            Vogelnest (scharf)</td>
                        <td>12,90€</td>
                    </tr>
                    <tr>
                        <td>49. Knusprige Ente mit Gemüse auf heißer Platte</td>
                        <td>12,90€</td>
                    </tr>
                    <tr>
                        <td>50. Knusprige Ente mit frischem Gemüse und Spezialsoße</td>
                        <td>12,90€</td>
                    </tr>
                    <tr>
                        <td>51. Knusprige Ente mit Erdnusssoße</td>
                        <td>12,90€</td>
                    </tr>
                </table>

                <div class="text-center">
                    <h2 class="jumptarget" id="meeresfrüchte">Meeresfrüchte</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>52. Gebratene Garnelen mit Gemüse auf Koon-Po Art im Vogelnest
                            (scharf)</td>
                        <td>17,00€</td>
                    </tr>
                    <tr>
                        <td>53. Gebratene Garnelen paniert mit süß-saurer Soße</td>
                        <td>15,80€</td>
                    </tr>
                    <tr>
                        <td>54. Gebratene Garnelen mit Gemüse auf heißer Platte</td>
                        <td>17,00€</td>
                    </tr>
                    <tr>
                        <td>55. Gebratene Garnelen mit Zwiebellauch und Ingwer</td>
                        <td>16,80€</td>
                    </tr>
                    <tr>
                        <td>56. Gebratene Garnelen mit Gemüse nach Szechuan-Art (scharf)</td>
                        <td>17,00€</td>
                    </tr>
                    <tr>
                        <td>57. Gebratener Tintenfisch mit Paprika, Champgnons und Bambus</td>
                        <td>11,00€</td>
                    </tr>
                    <tr>
                        <td>58. Gebratener Tintenfisch mit Gemüse auf Koon-Po Art im Vogelnest
                            (scharf)</td>
                        <td>11,00€</td>
                    </tr>
                    <tr>
                        <td>59. Gebratener Tintenfisch mit Gemüse auf heißer Platte</td>
                        <td>11,00€</td>
                    </tr>
                    <tr>
                        <td>60. Gebackenes Rotbarschfilet mit Ananas und süß-saurer Soße</td>
                        <td>11,00€</td>
                    </tr>
                    <tr>
                        <td>61. Gebackenes Rotbarschfilet mit Gemüse nach Szechuan-Art (scharf)
                        </td>
                        <td>11,00€</td>
                    </tr>
                </table>

                <div class="text-center">
                    <h2 class="jumptarget" id="vegetarisch">Vegetarisch</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>62. Gemischtes chinesisches Gemüse</td>
                        <td> 7,20€</td>
                    </tr>
                    <tr>
                        <td>63. Chinesisches Tofu, Champignons und Bambus</td>
                        <td> 8,50€</td>
                    </tr>
                    <tr>
                        <td>64. Brokkoli mit Champignons und grünen Bohnen</td>
                        <td> 8,50€</td>
                    </tr>
                </table>

                <div class="text-center">
                    <h2 class="jumptarget" id="schwein">Schwein</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>65. Schweinefleisch mit Zwiebellauch und
                            Ingwer</td>
                        <td>9,00€</td>
                    </tr>
                    <tr>
                        <td>66. Schweinefleisch mit Gemüse nach
                            Szechuan-Art (scharf)</td>
                        <td>9,00€</td>
                    </tr>
                    <tr>
                        <td>67. Schweinefleisch mit Sellerie und
                            Knoblauchsoße</td>
                        <td>9,00€</td>
                    </tr>
                    <tr>
                        <td>68. Schweinefleisch mit Gemüse auf Koon-Po
                            Art im Vogelnest (scharf)</td>
                        <td>9,50€</td>
                    </tr>
                    <tr>
                        <td>69. Schweinefleisch Chop-Suey mit
                            verschiedenem Gemüse</td>
                        <td>8,80€</td>
                    </tr>
                    <tr>
                        <td>71. Schweinefleisch leicht paniert, mit
                            Gemüse, süß-saurer Soße und Sojabohnensoße</td>
                        <td>8,90€</td>
                    </tr>
                    <tr>
                        <td>72. Gebackenes Schweinefleisch paniert mit
                            süß-saurer Soße</td>
                        <td>9,00€</td>
                    </tr>
                    <tr>
                        <td>73. Schweinefleisch mit chinesischen
                            Toku-Pilzen und Bambus</td>
                        <td>9,00€</td>
                    </tr>
                </table>


                <div class="text-center">
                    <h2 class="jumptarget" id="rind">Rind</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>74. Rindfleisch Chop-Suey mit
                            verschiedenem Gemüse</td>
                        <td>9,00€</td>
                    </tr>
                    <tr>
                        <td>75. Rindfleisch mit Zwiebellauch und
                            Ingwer</td>
                        <td>10,00€</td>
                    </tr>
                    <tr>
                        <td>76. Rindfleisch mit Gemüse nach
                            Szechuan-Art (scharf)</td>
                        <td>9,60€</td>
                    </tr>
                    <tr>
                        <td>77. Rindfleisch mit Sellerie und
                            Knoblauchsoße</td>
                        <td>9,60€</td>
                    </tr>
                    <tr>
                        <td>78. Rindfleisch mit Gemüse nach Koon-Po
                            Art im Vogelnest (scharf)</td>
                        <td>10,00€</td>
                    </tr>
                    <tr>
                        <td>79. Rindfleisch mit Pfeffersoße auf heißer
                            Platte</td>
                        <td>10,50€</td>
                    </tr>
                    <tr>
                        <td>80. Rindfleisch mit Zwiebeln</td>
                        <td>9,60€</td>
                    </tr>
                    <tr>
                        <td>81. Rindfleisch mit Gemüse und
                            Currysoße</td>
                        <td>9,60€</td>
                    </tr>
                    <tr>
                        <td>82. Rindfleisch mit Brokkoli und grünen
                            Bohnen</td>
                        <td>9,60€</td>
                    </tr>
                    <tr>
                        <td>83. Rindfleisch mit chinesischen
                            Tonko-Pilzen und Bambus</td>
                        <td>10,00€</td>
                    </tr>
                </table>
            </div>


            <div class="col-lg-6 container-fluid">

                <div class="text-center">
                    <h2 class="jumptarget" id="gebratenerReis">Gebratener Reis</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>85. Gebratener Reis mit Ei und
                            Schweinefleisch</td>
                        <td>7,80€</td>
                    </tr>
                    <tr>
                        <td>86. Gebratener Reis mit Ei und
                            Hühnerfleisch</td>
                        <td>7,80€</td>
                    </tr>
                    <tr>
                        <td>87. Gebratener Reis mit Ei und
                            Rindfleisch</td>
                        <td>7,80€</td>
                    </tr>
                    <tr>
                        <td>88. Gebratener Reis mit Ei und
                            Krabben</td>
                        <td>9,00€</td>
                    </tr>
                    <tr>
                        <td>89. Gebratener Reis mit Ei und
                            Hühnerfleisch, Schinken, Krabben und Curry</td>
                        <td>8,60€</td>
                    </tr>
                </table>

                <div class="text-center">
                    <h2 class="jumptarget" id="gebrateneNudeln">Gebratene Nudeln</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>90. Gebratene Nudeln mit Ei und
                            Schweinefleisch</td>
                        <td>7,80€</td>
                    </tr>
                    <tr>
                        <td>91. Gebratene Nudeln mit Ei und
                            Hühnerfleisch</td>
                        <td>7,80€</td>
                    </tr>
                    <tr>
                        <td>92. Gebratene Nudeln mit Ei und
                            Rindfleisch</td>
                        <td>7,90€</td>
                    </tr>
                    <tr>
                        <td>93. Gebratene Nudeln mit Ei und
                            Krabben</td>
                        <td>9,10€</td>
                    </tr>
                    <tr>
                        <td>94. Gebratene Nudeln mit Ei und
                            Hühnerfleisch, Schinken, Krabben und Curry</td>
                        <td>8,60€</td>
                    </tr>
                    <tr>
                        <td>95. Gebratene Glasnudeln mit Rind- und
                            Hühnerfleisch, Krabben und Gemüse</td>
                        <td>8,60€</td>
                    </tr>
                    <tr>
                        <td>96. Gebratene Reisnudeln mit Hühnerfleisch
                            und Sojasprossen</td>
                        <td>8,50€</td>
                    </tr>
                    <tr>
                        <td>97. Gebratene Reisnudeln mit
                            Hühnerfleisch, Schinken, Krabben und Sojasprossen</td>
                        <td>8,60€</td>
                    </tr>
                    <tr>
                        <td>98. Gebratene Reisnudeln mit
                            Hühnerfleisch, Schinken, Krabben, Sojasprossen und Curry</td>
                        <td>9,00€</td>
                    </tr>
                </table>

                <div class="text-center">
                    <h2 class="jumptarget" id="kombinationsGerichte">Kombinations-Gerichte</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>99. Knuspriges Hähnchen mit „Acht
                            Kostbarkeiten“ (Hühner- und Schweinefleisch, Ente, Krabben und Gemüse)
                        </td>
                        <td>10,30€</td>
                    </tr>
                    <tr>
                        <td>100. Knusprige Ente und Hühnerfleisch mit
                            Gemüse</td>
                        <td>12,50€</td>
                    </tr>
                    <tr>
                        <td>101. Knusprige Ente und Rindfleisch mit
                            Zwiebeln</td>
                        <td>13,00€</td>
                    </tr>
                    <tr>
                        <td>102. Knusprige Ente und paniertes
                            Schweinefleisch mit süß-saurer Soße</td>
                        <td>12,50€</td>
                    </tr>
                    <tr>
                        <td>103. Knusprige Ente und Hühnerfleisch mit
                            Curry</td>
                        <td>12,50€</td>
                    </tr>
                    <tr>
                        <td>104. Knusprige Ente und „Acht
                            Kostbarkeiten“ (Hühner- und Schweinefleisch, Krabben, Ente und Gemüse)
                        </td>
                        <td>13,00€</td>
                    </tr>
                    <tr>
                        <td>105. Knusprige Ente und Hühnerfleisch
                            Satee-Spieße mit Erdnusssoße</td>
                        <td>13,00€</td>
                    </tr>
                    <tr>
                        <td>106. „Acht Kostbarkeiten“ (Hühner-, Ente-
                            und Schweinefleisch), Krabben und verschiedenes Gemüse, scharf gewürzt
                        </td>
                        <td>10,00€</td>
                    </tr>
                    <tr>
                        <td>107. Samsin (Garnelen, Rindfleisch,
                            Hühnerfleisch und Gemüse)</td>
                        <td>10,00€</td>
                    </tr>
                </table>

                <div class="text-center">
                    <h2 class="jumptarget" id="thailändischeSpezialitäten">Thailändische Spezialitäten</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>115. Gang Kou Ped (Ente mit Thai-Curry,
                            Kokosmilch und frischem Gemüse, scharf)</td>
                        <td>13,00€</td>
                    </tr>
                    <tr>
                        <td>116. Panang Pak (frisches Gemüse mit Curry
                            und Kokosmilch, scharf)</td>
                        <td>8,00€</td>
                    </tr>
                    <tr>
                        <td>117. Moopat (Gebratenes Schweinefleisch
                            mit Gemüse, Chili und Kokosmilch, scharf)</td>
                        <td>9,50€</td>
                    </tr>
                    <tr>
                        <td>118. Panang Gai (Hühnerfleisch mit Curry
                            und Kokosmilch, scharf)</td>
                        <td>9,50€</td>
                    </tr>
                    <tr>
                        <td>119. Gäng Nua (Rindfleisch mit grünen
                            Bohnen, rotem Curry und Kokosmilch, scharf)</td>
                        <td>10,00€</td>
                    </tr>
                    <tr>
                        <td>120. Plahmük Pat Phet (Gebratener
                            Tintenfisch mit Curry, Bambussprossen, grünen Bohnen und Basilikum,
                            pikant)</td>
                        <td>11,20€</td>
                    </tr>
                    <tr>
                        <td>121. Pla Pahd Khing (Gebratenes
                            Rotbarschfilet mit Curry, Bambussprossen, grünen Bohnen und Basilikum,
                            pikant)</td>
                        <td>11,20€</td>
                    </tr>
                    <tr>
                        <td>122. Gäng Kua Gung (Gebratene Garnelen mit
                            frischem Gemüse, rotem Curry und Kokosmilch, scharf)</td>
                        <td>17,50€</td>
                    </tr>
                </table>

                <div class="text-center">
                    <h2 class="jumptarget" id="saChaChiang">Sa-Cha-Chiang</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>123. Sa Cha Zhou – Gebratenes
                            Schweinefleisch mit frischem Gemüse (pikant)</td>
                        <td>9,50€</td>
                    </tr>
                    <tr>
                        <td>124. Sa Cha Kai – Gebratenes Hühnerfleisch
                            mit frischem Gemüse (pikant)</td>
                        <td>9,50€</td>
                    </tr>
                    <tr>
                        <td>125. Sa Cha Ngau – Gebratenes Rindfleisch
                            mit frischem Gemüse (pikant)</td>
                        <td>10,00€</td>
                    </tr>
                    <tr>
                        <td>126. Sa Cha Ahb – Gebratenes Entenfleisch
                            mit frischem Gemüse (pikant)</td>
                        <td>13,00€</td>
                    </tr>
                    <tr>
                        <td>127. Sa Cha Jau Yu – Gebratener
                            Tintenfisch mit frischen Gemüse (pikant)</td>
                        <td>11,20€</td>
                    </tr>
                    <tr>
                        <td>128. Sa Cha Hoi Sein – Gebratene
                            Garnelen,Tintenfisch, Fisch mit frischem Gemüse (pikant)</td>
                        <td>14,00€</td>
                    </tr>
                </table>


    </section>

    <section class="background-wood" id="speisekarte-nachtisch">
        <div class="row">
            <div class="col-lg-6 container-fluid">

                <div class="text-center">
                    <h2 class="jumptarget" id="spezialPartnerplatten">Spezial-Partnerplatten</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>130. Glück in der Liebe</td>
                        <td>22,50€</td>
                    </tr>
                    <tr>
                        <td>131. Indonesische Reistafel</td>
                        <td>24,50€</td>
                    </tr>
                    <tr>
                        <td>132. Spezial Hongkong Platte</td>
                        <td>23,90€</td>
                    </tr>
                    <tr>
                        <td>133. Chinesische Platte</td>
                        <td>26,90€</td>
                    </tr>
                    <tr>
                        <td>134. „Lees Garden“ Platte</td>
                        <td>27,90€</td>
                    </tr>
                    <tr>
                        <td>135. Spezial-Menü (für 3 Personen)
                        </td>
                        <td>42,50€</td>
                    </tr>
                    <tr>
                        <td>136. Spezial-Menü (für 4 Personen)
                        </td>
                        <td>56,50€</td>
                    </tr>
                </table>
            </div>

            <div class="col-lg-6 container-fluid">

                <div class="text-center">
                    <h2 class="jumptarget" id="nachtisch">Nachtisch</h2>
                </div>
                <table class="table-width font-thin">
                    <tr>
                        <td>250. Lychees</td>
                        <td>2,50€</td>
                    </tr>
                    <tr>
                        <td>251. Gemischter Obstsalat</td>
                        <td>2,50€</td>
                    </tr>
                    <tr>
                        <td>252. Gebackene Banane mit Honig
                        </td>
                        <td>2,30€</td>
                    </tr>
                    <tr>
                        <td>253. Gebackene Ananas mit Honig
                        </td>
                        <td>2,30€</td>
                    </tr>
                    <tr>
                        <td>254. Gebackene Äpfel mit Honig</td>
                        <td>2,30€</td>
                    </tr>
                </table>
            </div>
        </div>

        </div>




    </section>

    <section class="background-wood" id="buffet-preise">

        <div class="row">
            <div class="col-lg-6 order-lg-1 padding-lr-0">
                <img class="img-buffet" src="images/dish3-webp.webp" alt="Meeresfrüchte">
            </div>

            <div class="col-lg-6 order-lg-2 padding-lr-0">
                <img class="img-buffet" src="images/fried-dish4-webp.webp" alt="Hähnchenstreifen und Tintenfischringe">
            </div>
        </div>


    </section>


    <%- include ("footer") -%>