/* Colors 

#EAC294; Gold 
#97735E; Light Brown
#432327; Brown
#321A1B; Dark brown (Navbar, Cards, Footer)
#221214; Dark brown shadow 
#134c36; Green (Logo)
#2B382F; Dark Green
#5f6368; grey (date)
#f7b704; yellow (stars)
*/

/* Backgrounds */

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.background-wood {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Buttons */

.btn-custom {
  padding: 6px 35px;
  border: solid #EAC294;
  border-radius: 8px;
  background-color: transparent;
  color: #EAC294;
}

.btn-custom:hover {
  border: solid #EAC294;
  background-color: #EAC294;
  /* Gold */
  color: #432327;
  /* Brown */
}

.btn-custom-reverse {
  padding: 6px 35px;
  border: solid #432327;
  border-radius: 8px;
  background-color: transparent;
  color: #432327;
}

.btn-custom-reverse:hover {
  border: solid #432327;
  background-color: #432327;
  /* Brown */
  color: #EAC294;
  /* Gold */
}

.btn-circle-custom {
  border: solid white;
  border-radius: 100%;
  background-color: transparent;
  color: white;
  width: 45px;
  height: 45px;
  padding: 7px 10px;
  border-radius: 23px;
  font-size: 16px;
  margin: 2% 5%;
}

.btn-circle-custom:hover {
  border: solid #EAC294;
  background-color: #EAC294;
  /* Gold */
  color: #432327;
  /* Brown */
}

.btn-review {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 8px 16px 8px 0;
}

/* HTML Elements */

body, html {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-padding-top: 56px;
}

h1, h2, h3, h4 {
  font-family: 'EB Garamond', serif;
  font-weight: 700;
  color: #EAC294;
  /* Gold */
}

h2 {
  font-size: 2.5rem;
}

h5, h6, p {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
  /* White */
}

p {
  margin-bottom: 8px;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  padding-left: 1em;
}

@media screen and (max-width: 1200px) {
  h2 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.1em;
  }
  h5, h6, p {
    font-size: 1em;
  }
  .table-width {
    font-size: 1em;
  }
  .review-meta, .review-stars {
    font-size: 1.5rem;
  }
  .review-date {
    font-family: 'Lato', sans-serif;
    display: block;
    text-transform: capitalize;
    font-weight: 400;
    color: #5f6368;
    font-size: 1rem;
  }
  .font-datenschutz {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1201px) {
  .table-width {
    font-size: 1.25rem;
  }
  .font-datenschutz {
    font-size: 1.25rem;
  }
}

.font-brown {
  color: #432327;
  /* brown */
}

.font-gold:hover {
  color: #EAC294;
  /* brown */
}

.font-black {
  color: black;
}

.font-grey {
  color: #5f6368;
}

.font-white:hover {
  color: white;
  cursor: pointer;
}

.font-thin {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

span {
  padding-right: 10px;
}

/* Margins */

.margin-tb-16px {
  margin: 16px 0;
}

.margin-bottom-16px {
  margin-bottom: 16px;
}

.margin-bottom-0px {
  margin-bottom: 0px;
}

.margin-lr-25px {
  margin-left: 25px;
  margin-right: 25px;
}

/* Paddings */

.padding-lr-0 {
  padding-left: 0;
  padding-right: 0;
}

.padding-l-10px {
  padding-left: 10px;
}

.padding-left {
  padding-left: 40px;
}

/* Containers */

.container-fluid {
  padding: 5% 7%;
}

#footer.container-fluid {
  padding: 2% 7%;
}

/* Accordion */

.accordion>.card:not(:last-of-type) {
  border-bottom: solid 3px #EAC294;
  border-radius: 0.25rem;
}

/* Cards */

.card {
  border: solid 3px #EAC294;
  background-image: url("../images/background-wood-dark-brown-webp.webp");
  box-shadow: 5px 5px 15px 5px #221214;
}

.card-small {
  transition: top 1s;
  margin: 7% 30% 0 0;
}

.card-small:hover {
  top: -2px;
}

.card-large {
  margin: 7% 5% 0 0;
}

.card-header, .card-body {
  box-shadow: 0px 3px 0px #EAC294;
}

td[rowspan] {
  vertical-align: top;
}

/* Rules */

hr {
  border-style: solid none none none;
  border-width: 3px;
  border-color: #EAC294;
  margin-top: 5%;
  margin-bottom: -5%;
}

/* Tables */

.table-width {
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: white;
  /* White */
}

.table-hrs {
  font-weight: 700;
}

/* Navbar */

.bg-primary {
  background-color: #321A1B!important;
  opacity: 0.95;
}

.navbar-dark .navbar-nav .nav-link {
  color: #EAC294;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
  border-bottom: solid 3px white;
}

li.active>a {
  border-bottom: solid 3px white;
}

@media screen and (max-width: 992px) {
  .padding-left {
    padding-left: 0;
  }
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(234,194,148, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(234, 194, 148);
}

/* Title */

#spring-rolls {
  background-image: url("../images/header-spring-rolls-webp.webp");
}

.centered {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-bottom {
  bottom: 16px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.chevron-circle-down {
  width: 64px;
}

/* Covid */

#covid {
  /* background-image: url("../images/background-wood-light-brown-webp.webp"); */
  background-color: #321A1B;
}

.take-out-img {
  height: 200px;
  padding: 20px;
}

/* Buffet */

#buffet {
  background-image: url("../images/background-wood-webp.webp");
}

/* Buffet-Preise */

#buffet-preise {
  background-image: url("../images/background-wood-webp.webp");
}

.img-buffet {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 992px) {
  .img-buffet {
    width: 100%;
    height: 250px;
  }
}

/* Gäste */

#gäste {
  background-image: url("../images/background-wood-gold-webp.webp");
}

#map-plug {
  display: none;
}

#google-reviews {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  margin: 2.5em 0;
  border: solid 3px white;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 15px 5px #75614A;
  /*display: grid;
grid-template-columns: repeat( auto-fit, minmax(320px, 1fr));*/
}

.review-item {
  margin: 0;
  padding: 1.5em;
  flex: 1 1 20%;
}

@media ( max-width:1200px) {
  .review-item {
    flex: 1 1 40%;
  }
}

@media ( max-width:993px) {
  .review-item {
    flex: 1 1 90%;
  }
}

.review-meta, .review-stars {
  text-align: center;
  font-size: 1.75rem;
}

.google-logo {
  display: block;
  content: url("../images/google-logo-circle.png");
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  padding: 0;
}

.review-author {
  text-transform: capitalize;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: black;
  padding: 0;
}

.review-date {
  font-family: 'Lato', sans-serif;
  display: block;
  text-transform: capitalize;
  font-weight: 400;
  color: #5f6368;
  font-size: 1.25rem;
}

.review-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #222;
  text-align: center;
  max-width: 32em;
  margin: auto;
}

.review-stars ul {
  display: inline-block;
  list-style: none !important;
  margin: 5px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-stars ul li {
  float: left;
  list-style: none !important;
  margin-right: 1px;
  line-height: 1;
}

.review-stars ul li i {
  color: #f7b704;
  font-size: 1.4em;
  font-style: normal;
}

.review-stars ul li i.inactive {
  color: #c6c6c6;
}

.star:after {
  content: "\2605";
}

.google-total-reviews {
  background-color: white;
  margin: 0;
  padding: 1.5em;
  display: flex;
  flex-wrap: wrap;
  margin: 2.5em 0;
  border: solid 3px white;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 15px 5px #75614A;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-google-reviews {
  width: 225px;
  margin: 8px;
}

.avg-stars-total {
  height: 22px;
  margin-bottom: 6px;
}

@media screen and (max-width: 992px) {
  .avg-stars-total-data {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-review {
    margin: 8px auto;
    display: block;
  }
}

/* Verweis */

#verweis {
  background-color: #2B382F;
}

/* Besuch */

#besuch {
  background-image: url("../images/background-wood-webp.webp");
}

@media screen and (max-width: 992px) {
  .resp-iframe {
    height: 250px;
  }
  .card-small {
    margin: 7% 5%;
  }
}

/* Footer */

#footer {
  background-color: #321A1B;
}

.logo-margin {
  margin: 2% 0;
}

/* Speisekarte */

#rice {
  background-image: url("../images/reis-webp.webp");
}

#speisekarte-vorspeise {
  background-image: url("../images/background-wood-webp.webp");
  scroll-padding-top: 112px;
}

#speisekarte-hauptgang {
  /* background-image: url("../images/background-wood-dark-brown-webp.webp"); */
  background-color: #321A1B;
}

#speisekarte-nachtisch {
  background-image: url("../images/background-wood-webp.webp");
}

.price-alignment {
  text-align: right;
  vertical-align: top;
}

/* Speisekarte */

#speisekarte-vorspeise {
  background-image: url("../images/background-wood-webp.webp");
}

#speisekarte-hauptgang {
  /* background-image: url("../images/background-wood-dark-brown-webp.webp"); */
  background-color: #321A1B;
}

#speisekarte-nachtisch {
  background-image: url("../images/background-wood-webp.webp");
}

/* Speisekarte - horizontal navbar  */

.sticky-offset {
  top: 56px;
}

.jumptarget::before {
  content:"";
  display:block;
  height:56px; /* fixed header height*/
  margin:-56px 0 0; /* negative fixed header height */
}


* { /* means ALL */
  padding: 0;
  margin: 0;
}

.menu-wrapper {
  position: relative;
  max-width: 100%;
  height: 56px;
  /* hide the scroll bar */
  /* 	margin: 1em auto;  
  border: 1px solid black; */
  overflow-x: hidden;
  overflow-y: hidden;
}

.menu {
  height: 76px;
  /* // hide the scroll bar */
  background: white;
  box-sizing: border-box;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.item {
  display: inline-block;
  height: 100%;
  /* outline: 1px dotted gray; */
  padding: 1em;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  color: rgba(0,0,0,.5)
}

.item:hover {
color: black;
}

.paddle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 3em;
  border: none;
  background-color: white;
  color: rgba(0,0,0,.5);
  outline: none !important;
}

.paddle:hover {
  color: black;
}

.left-paddle {
  left: 0;
}

.right-paddle {
  right: 0;
}

.hidden {
  display: none;
}



/* Restaurant */

#restaurant-title {
  background-image: url("../images/restaurant-title-webp.webp");
}

#restaurant {
  background-image: url("../images/background-wood-webp.webp");
}

/* Datenschutz, Impressum */

#datenschutz, #impressum {
  background-color: #432327;
}

.font-datenschutz {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}